<h2>Range filter</h2>
<form class="form-inline">
  <div class="form-group">
    {% for field in filter.form %}
    <div class="input-group">
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
